@import "global-less";

/*    Modal styles    */
.modal {
  border-radius: 10px;
}
.modal .modal-content {
  padding: 0;
}
p.modal-body {
  margin: 0;
}
/*
.modal-content {
  padding: 20px;
  height: calc(~"100% - 67px") !important;
  max-height: calc(~"100% - 67px") !important;
  width: calc(~"100% - 2px") !important;
  overflow-y: auto;
}
*/
.modal-footer button {
  float: right;
  margin: 5px !important;
}
