@import "global-less";

#setup-instructions {
  font-size: 30px;
  margin: 0 auto;
  padding: 10%;
}
#verify-url {
  width: 100%;
  padding: 10%;
  font-size: 30px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 15px;
}
#verify-url button {
  margin: 5px;
  float: right;
  font-size: 18px;
}
#url-stub {
  color: @darkGrey;
  position: absolute;
  top: 0;
  right: calc(~"50% + 5px");
}
#verify-url > .input-field {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 0;
  margin: 0;
}
#verify-url > .input-field > input {
  font-size: 30px;
  border: none !important;
  box-shadow: none !important;
}
#verify-url > .input-field > label {
  top: 15px;
}
