<template name="settings">
  <div class="row">
    <div id="settings-tabs-col" class="col s12">
      <ul id="settings-tabs" class="tabs">
        <li class="tab col s6">
          <a href="#profile-settings" class="active">
            <i class="mdi-social-person"></i>Profile
          </a>
        </li>
        <li class="tab col s6">
          <a href="#data-settings">
            <i class="mdi-file-attachment"></i>Data
          </a>
        </li>
      </ul>
    </div>
    <div id="profile-settings" class="col s12">
      <div>
        
      </div>
      <div>
        
      </div>
    </div>
    <div id="data-settings" class="col s12">
      <div>
        <p>
          Backup and download your data to your local hard drive as an .xml file using the download button below:
        </p>
        <button data-backup type="button" class="waves-effect waves-light btn-large"><i class="mdi-file-file-download left"></i>Backup</button>
      </div>
      <div>
        <p>
          Restoring from backup will erase all your current data, and replace it with the backup data.  Your login information and URL will remain the same, however.
        </p>
        <div class="file-field input-field">
          <div class="waves-effect waves-light btn-large">
            <span><i class="mdi-file-file-upload left"></i>Upload</span>
            <input data-restore type="file" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>