<template name="settings">
  {{#modalizeBody}}
    <div class="settings-modal row">
      <div id="settings-tabs-col" class="col s12">
        <ul id="settings-tabs" class="tabs">
          <li class="tab col s6">
            <a href="#profile-settings" class="active">
              <i class="mdi-social-person"></i>Profile
            </a>
          </li>
          <li class="tab col s6">
            <a href="#data-settings">
              <i class="mdi-file-attachment"></i>Data
            </a>
          </li>
        </ul>
      </div>
      <div id="profile-settings" class="col s12">
        <div>
          <p>
            Update your name:
          </p>
          {{> settingsName }}
        </div>
        <div>
          <p>
            Update your page's URL:
          </p>
          {{> settingsURL }}
        </div>
      </div>
      <div id="data-settings" class="col s12">
        <div>
          <p>
            Backup and download your data to your local hard drive as an .xml file using the download button below:
          </p>
          <button data-backup type="button" class="waves-effect waves-light btn-large"><i class="mdi-file-file-download left"></i>Backup</button>
        </div>
        <div>
          <p>
            Restoring from backup will erase all your current data, and replace it with the backup data.  Your login information and URL will remain the same, however.
          </p>
          <div class="file-field input-field">
            <div class="waves-effect waves-light btn-large">
              <span><i class="mdi-file-file-upload left"></i>Upload</span>
              <input data-restore type="file" />
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/modalizeBody}}

  <!--{{#modalizeFooter}}
    <button data-modalize-close class="btn waves-effect waves-light modal-action grey">Close</button>
  {{/modalizeFooter}}-->
</template>

<template name="settingsName">
  <div class='input-field'>
    <i class="mdi-social-person prefix {{activeOrNot currentUser.profile.name}}"></i>
    <input type="text" id="user-profile-name" class="text-input nav-left-text" placeholder="Your Name" value="{{profileName}}"/>
  </div>
</template>

<template name="settingsURL">
  <form id="update-url">
    <div class="input-field">
      {{#if urlIs "pending"}}
        <i class="prefix">
          <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>

            <div class="spinner-layer spinner-red">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>

            <div class="spinner-layer spinner-yellow">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>

            <div class="spinner-layer spinner-green">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </i>
      {{else}}
        <i class="mdi-action-language prefix" style="color: {{#if urlIs "valid"}}#4CAF50{{else}}#F44336{{/if}}"></i>
      {{/if}}
      <input id="user-public-url" type="text" value="{{currentUser.profile.public_url}}"/>
      <label for="user-public-url" class="active">Your URL</label>
    </div>
    <button type="submit" class="btn waves-effect waves-light modal-action red {{#unless urlIs "valid"}}disabled{{/unless}}"><i class="mdi-content-send right"></i>Save</button>
  </form>
</template>
