@import "global-less";

nav {
  position: fixed;
  height: @navbarHeight;
  background-color: #fff;
  box-shadow: none;
  color: #000;
  z-index: 10;
}
nav:hover {
  border-color: @darkRed;
}
nav .input-field {
  display: inline-block;
  margin-top: 0;
  height: @navbarHeight;
}
nav .nav-left-text {
  font-size: 2.1em !important;
  color: #000;
  padding-left: 20px;
}
.nav-wrapper .prefix {
  z-index: 3;
  width: 64px;
  text-align: center;
}
nav input#user-profile-name,
nav input#tile-search {
  max-width: 250px;
  width: 100%;
  margin: 0;
  right: 0;
  position: relative;
  border-radius: 0;
  padding-left: 64px;
  box-sizing: border-box;
}
nav input#user-profile-name {
  max-width: 350px;
}
/*nav input#user-profile-name:focus {
  border-right: 2px solid @lightRed;
}*/
nav input#tile-search {
  padding-right: 64px;
  box-sizing: content-box;
}
/*nav input#tile-search:focus {
  border-left: 2px solid @lightRed;
}*/
nav .nav-wrapper i {
  line-height: inherit;
}
