<template name="navbar">
  <nav class="z-depth-1">
    <div class="nav-wrapper">
      {{ > UI.contentBlock
          context=__context__ }}

      <!--  Right menu collapse/open; persistent  -->
      <div class="right">
        <div class='input-field'>
          <i id="tile-search-prefix" class="mdi-action-search prefix"></i>
          <input type="text" id="tile-search" class="text-input" placeholder="Search" value="{{searchQuery}}"/>
        </div>
      </div>
      <!--  End right menu collapse/open  -->
    </div>
  </nav>
</template>

<template name="setupNavbar">
  {{#navbar}}
    <div class="nav-left-text"><i class="mdi-action-language left"> Setup URL</i></div>
  {{/navbar}}
</template>

<template name="editTileNavbar">
  {{#navbar}}
    <div class="nav-left-text">Edit Tile</div>
  {{/navbar}}
</template>

<template name="renderUserNavbar">
  {{#navbar}}
    {{#if verify currentUser}}
      <div class='input-field'>
        <i class="mdi-social-person prefix {{activeOrNot currentUser.profile.name}}"></i>
        <input type="text" id="user-profile-name" class="text-input nav-left-text" placeholder="Your Name" value="{{profileName}}"/>
      </div>
    {{else}}
      <a class="nav-left-text">{{profileName}}</a>
    {{/if}}
  {{/navbar}}
</template>
