<template name="manageData">
  <div id="manage-data-tabs" class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6">
          <a href="#export-tools" class="active">Export</a>
        </li>
        <li class="tab col s6">
          <a href="#import-tools">Import</a>
        </li>
      </ul>
    </div>
    <div id="export-tools" class="col s12">
      <div>
        <p>
          Export your data as an .xml file using the download button below.
        </p>
        <button data-export type="button">Export</button>
      </div>
    </div>
    <div id="import-tools" class="col s12">
      <div class="file-field input-field">
        <div class="btn">
          <span>Upload</span>
          <input data-import-file type="file" />
        </div>
      </div>
    </div>
  </div>

</template>
