<template name="editTile">
  <div id="edit-panel">
    <div class="left">
      {{> tileEditForm tile=tile tileMap=tileMap}}
    </div>
    <div class="right">
      {{#if minimumTile}}
        <div id="preview-small">
          {{> tileSmall tile=tile preview=true}}
        </div>
        <div id="preview-large">
          {{> tileBig tile=tile preview=true}}
        </div>
      {{else}}
        <div id="empty-preview" class="centered-container">
          Start filling out the form to the left to see what your Tile will look like!
        </div>
      {{/if}}
    </div>
    {{> confirmCancelControls cancelCondition=1 }}
  </div>
</template>

<template name="tileEditForm">
    <div class='title'>
      <div class='input-field'>
        <i class="mdi-content-create prefix"></i>
        <input id='tile-title' type='text' class='tile-title' value="{{tile.title}}"/>
        <label for='tile-title' class="{{activeOrNot tile.title}}">Title</label>
      </div>
      <div class='input-field'>
        <i class="mdi-action-list prefix"></i>
        <input id='tile-category' name="categoryresult" type='text' class='tile-category form-control typeahead' autocomplete="off" spellcheck="off" value="{{tile.category}}" data-source="categories"/>
        <label for='tile-category' class="{{activeOrNot tile.category}}">Category</label>
      </div>
    </div>
    <div class="tile-dates">
      <div class='input-field'>
        <i class="mdi-action-label-outline prefix"></i>
        <input id="date-one" type="date" class="datepicker" value="{{formatInputDate tile.dates.dateOne}}"/>
        <label for='date-one' class="active">Start Date</label>
      </div>
      <div class='input-field'>
        <i class="mdi-action-label prefix"></i>
        <input id="date-two" type="date" class="datepicker" value="{{formatInputDate tile.dates.dateTwo}}"/>
        <label for='date-two' class="active">End Date</label>
      </div>
    </div>
    <div class='content'>
      <div class='input-field'>
        <i class="mdi-action-subject prefix"></i>
        <textarea id='tile-preview' class='materialize-textarea tile-content'>{{tile.preview}}</textarea>
        <label for='tile-preview' class="{{activeOrNot tile.preview}}">Preview Content</label>
      </div>
    </div>
    <div class='content'>
      <div class='input-field'>
        <i class="mdi-action-subject prefix"></i>
        <textarea id='tile-content' class='materialize-textarea tile-content'>{{tile.content}}</textarea>
        <label for='tile-content' class="{{activeOrNot tile.content}}">Content</label>
      </div>
    </div>

<!--  <div class="modal-footer">
    <button id="save-tile-edit" type="submit" class="btn waves-effect waves-light modal-action red"><i class="mdi-action-done left"></i>Done</button>
    <button id="cancel-tile-edit" type="button" class="btn waves-effect waves-grey modal-action modal-close grey">Cancel</button>
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
  </div>-->
</template>

<template name="categoryresult">
  <div style="height: 100px; width: 100px; z-index: 1000; position: absolute; top: 0; left: 0;">{{this}}</div>
</template>

<template name="noresult">
  No results!
</template>
