@import "global-less";

#not-found-container {
  height: 100%;
  text-align: center;
}
#not-found-container > div.valign {
  margin: 0 auto;
}
#not-found-blockquote {
  border-color: @lightRed;
}
#not-found-message {
  color: @darkGrey;
}
#not-found-context {
  text-align: left;
}
