<template name="tileViewModal">
  {{#with tile=getTile}}
    <div id="tile-view-modal" class="modal modal-fixed-footer" style="border-color: {{#if tile}}{{tile.colour}}{{/if}}">
    {{#if tile}}
      <div class="modal-content">
        <div class='title'>
          {{tile.title}}
        </div>
        {{#if hasDates tile}}
          <div class="dates">
            {{{formatTileDates tile.dates}}}
          </div>
        {{/if}}
        <div class='content'>
          {{{textToHTML tile.content}}}
        </div>
      </div>
    {{else}}
      <div class="modal-content">
        {{> loading}}
      </div>
    {{/if}}
      <div class="modal-footer">
        <button type="button" class="btn waves-effect waves-light modal-action modal-close grey"><i class="mdi-action-done left"></i>Done</button>
        <div class="progress">
          <div class="indeterminate"></div>
        </div>
      </div>
    </div>
  {{/with}}
</template>
