<template name="allTilesControls">
  {{#if currentlySorting}}
    {{#if currentlySortingTiles }}
      {{> confirmTileSort }}
    {{/if}}
    {{#if currentlySortingCategories }}
      {{> confirmCategorySort }}
    {{/if}}
  {{else}}
    <!--  Generic Tile Menu  -->
    <div class="fixed-action-btn">
      {{#if currentUser}}
        <a data-toggle-menu class="btn-floating deep-purple btn-large {{#if open}}darken-1{{else}}accent-1{{/if}} z-depth-2 menu-icon"  data-tooltip-direction="w" data-tooltip="Menu">
          <i class="mdi-navigation-menu {{#if open}}open{{/if}}"></i>
        </a>
        <ul class="{{#if open}}open{{else}}closed{{/if}}">
          {{#if verify currentUser}}
            <li>
              <a data-add-tile class="btn-floating red z-depth-2" data-tooltip-direction="w" data-tooltip="Add Tile">
                <i class="mdi-content-create"></i>
              </a>
            </li>
            <li>
              <a data-tile-sort class="btn-floating cyan z-depth-2 {{#if disableTileSort}}disabled{{/if}}" data-tooltip-direction="w" data-tooltip="Sort Tiles">
                <i class="mdi-action-view-module"></i>
              </a>
            </li>
            <li>
              <a data-category-sort class="btn-floating teal z-depth-2 {{#if disableCategorySort}}disabled{{/if}}" data-tooltip-direction="w" data-tooltip="Sort Categories">
                <i class="mdi-action-view-column"></i>
              </a>
            </li>
            <li>
              <a data-settings class="btn-floating indigo z-depth-2" data-tooltip-direction="w" data-tooltip="Settings">
                <i class="mdi-action-settings"></i>
              </a>
            </li>
          {{else}}
            {{#if currentUser.profile.public_url}}
              <li>
                <a href="/{{currentUser.profile.public_url}}" class="btn-floating red z-depth-2" data-tooltip-direction="w" data-tooltip="My Tiles">
                  <i class="mdi-action-home"></i>
                </a>
              </li>
            {{else}}
              <li>
                <a href="/setup" class="btn-floating red z-depth-2" data-tooltip-direction="w" data-tooltip="Setup">
                  <i class="mdi-action-language"></i>
                </a>
              </li>
            {{/if}}
          {{/if}}
          <li>
            <a data-logout class="btn-floating purple z-depth-2" data-tooltip-direction="w" data-tooltip="Sign Out">
              <i class="mdi-action-exit-to-app"></i>
            </a>
          </li>
        </ul>
      {{else}}
        <a data-login class="btn-floating deep-purple z-depth-2"  data-tooltip-direction="w" data-tooltip="Login">
          <i class="mdi-communication-vpn-key"></i>
        </a>
      {{/if}}
    </div>
  {{/if}}
</template>
