<template name="tileSmall">
  <div data-id="{{tile._id}}" class="card tile z-depth-1" style="border-color: {{tile.color}}; background-color: {{tile.color}};">
    <a href="/{{publicURL}}/{{tile._id}}" class="tile-content-anchor">
      <div class="tile-content pointer">
        <div class="tile-title">{{tile.title}}</div>
        {{#if hasDates tile}}
          <div class="tile-dates">
            {{{formatTileDates tile.dates}}}
          </div>
        {{/if}}
        <div class="tile-body">
          {{{textToHTML tile.preview}}}
        </div>
      </div>
    </a>
    <div class="tile-action row">
      {{#unless preview}}
        {{#if verify currentUser}}
          <p class="delete-tile">
            <a class="tile-delete" href="#"><i class="mdi-action-delete"></i></a>
          </p>
          <p>
            <a class="tile-edit" href="/edit/{{tile._id}}"><i class="mdi-editor-border-color right"></i>edit</a>
          </p>
        {{/if}}
        <p>
          <a class="tile-read-more" href="/{{publicURL}}/{{tile._id}}">read more</a>
        </p>
      {{/unless}}
    </div>
  </div>
</template>

<template name="tileBig">
  <div id="tile-big" style="border-color: {{tile.color}}">
    <div class="">
      <div class='title'>
        {{tile.title}}
      </div>
      {{#if hasDates tile}}
        <div class="dates">
          {{{formatTileDates tile.dates}}}
        </div>
      {{/if}}
      <div class='content'>
        {{{textToHTML tile.content}}}
      </div>
    </div>
    <!--
    {{#unless preview}}
      <div class="modal-footer">
        <button id="close-view-modal" type="button" class="btn waves-effect waves-light modal-action modal-close grey"><i class="mdi-action-done left"></i>Done</button>
        <div class="progress">
          <div class="indeterminate"></div>
        </div>
      </div>
    {{/unless}}-->
  </div>
</template>
