<template name="tileSmall">
  <div data-id="{{tile._id}}" class="card tile z-depth-1" style="border-color: {{tile.color}}; background-color: {{tile.color}};">
    <a href="/{{publicURL}}/{{tile._id}}" class="tile-content-anchor">
      <div class="tile-content pointer">
        <div class="tile-title">{{tile.title}}</div>
        {{> tileDates }}
        <div class="tile-body">
          {{{tile.content}}}
        </div>
      </div>
    </a>
    <div class="tile-action row">
      {{#unless preview}}
        {{#if verify currentUser}}
          <p class="delete-tile">
            <a data-delete-tile class="tile-delete pointer" href="#"><i class="mdi-action-delete"></i></a>
          </p>
          <p>
            <a data-edit-tile class="tile-edit pointer"><i class="mdi-editor-border-color right"></i>edit</a>
          </p>
        {{/if}}
        <p>
          <a class="tile-read-more" href="/{{publicURL}}/{{tile._id}}">read more</a>
        </p>
      {{/unless}}
    </div>
  </div>
</template>

<template name="tileBig">
  <div id="tile-big" style="border-color: {{tile.color}}">
    <div class="">
      <div class='title'>
        {{tile.title}}
      </div>
      {{> tileDates }}
      <div class='content'>
        {{{tile.content}}}
      </div>
    </div>
  </div>
</template>

<template name="tileDates">
  <div class="tile-dates">
    {{{formatTileDates}}}
  </div>
</template>
