<template name="tile">
  <div data-id="{{tile._id}}" class="card tile" style="border-color: {{color}}; background-color: {{color}};">
    <div class="tile-content pointer">
      <div class="tile-title">{{tile.title}}</div>
      {{#if hasDates tile}}
        <div class="tile-dates">
          {{{formatTileDates tile.dates}}}
        </div>
      {{/if}}
      <div class="tile-body">
        {{{textToHTML tile.content}}}
      </div>
    </div>
    <div class="tile-action row">
      {{#if verify currentUser}}
        <p class="delete-tile">
          <a class="tile-delete" href="#"><i class="mdi-action-delete"></i></a>
        </p>
        <p>
          <a class="tile-edit" href="#"><i class="mdi-editor-border-color right"></i>edit</a>
        </p>
      {{/if}}
      <p>
        <a class="tile-read-more" href="#{{tile._id}}">read more</a>
      </p>
    </div>
  </div>
</template>
