<template name="allTiles">
  {{> renderUserNavbar searchVar=searchVar }}
  <div id="tile-scroller">
    <div id="tile-container" class="flex-column">
      {{> categories sortedCategories=sortedCategories sortedTiles=sortedTiles search=search }}
    </div>
  </div>
  {{> allTilesControls }}
</template>

<template name="categories">
  {{#if emptyTiles}}
    {{#if search}}
      {{> noResults }}
    {{else}}
      {{> noTiles}}
    {{/if}}
  {{else}}
    {{#each sortedCategories}}
      {{> category category=this tiles=../sortedTiles}}
    {{/each}}
  {{/if}}
</template>

<template name="category">
  <div class="category-title valign-wrapper z-depth-1" style="color: {{category.color}};">
    <div class="category-title-text">{{category.title}}</div>
  </div>
  {{#each tiles}}
    {{> tileSmall color=../category.color tile=this}}
  {{/each}}
</template>

<template name="noResults">
  <div id="no-results" class="center">
    Sorry, no results found for <span>{{search}}</span>
    <div id="tile-container-inner"></div>
  </div>
</template>

<template name="noTiles">
  <div id="no-results" class="center">
    {{#if verify currentUser}}
      <a href="/edit/new">Why don't you make your first Tile?</a>
    {{else}}
      This user doesn't have any Tiles yet!
    {{/if}}
  </div>
</template>
