<template name="allTiles">
  {{> renderUserNavbar searchVar=searchVar }}
  <div id="tile-scroller">
    <div id="tile-container" class="flex-column">
      {{> categories sortedCategories=sortedCategories sortedTiles=sortedTiles search=search }}
    </div>
    {{> allTilesControls }}
  </div>
</template>

<template name="categories">
  {{#if emptyTiles}}
    {{#if search}}
      {{> noResults }}
    {{else}}
      {{> noTiles}}
    {{/if}}
  {{else}}
    {{#each sortedCategories}}
      {{> category category=this tiles=../sortedTiles}}
    {{/each}}
  {{/if}}
</template>

<template name="category">
  <div class="category-title valign-wrapper" style="color: {{category.color}};">
    <div class="category-title-text">{{category.title}}</div>
  </div>
  {{#each tiles}}
    {{> tileSmall color=../category.color tile=this}}
  {{/each}}
</template>

<template name="allTilesControls">
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    {{#if currentUser}}
      <a data-toggle-menu class="btn-floating btn-large blue z-depth-2"  data-tooltip-direction="w" data-tooltip="Menu">
        <i class="mdi-navigation-menu"></i>
      </a>
      <ul class="closed">
        <li>
          <a data-logout class="btn-floating green darken-1" data-tooltip-direction="w" data-tooltip="Sign Out">
            <i class="mdi-action-exit-to-app"></i>
          </a>
        </li>
        {{#if verify currentUser}}
          <li>
            <a class="btn-floating teal" data-tooltip-direction="w" data-tooltip="Sort Categories">
              <i class="mdi-action-view-column"></i>
            </a>
          </li>
          <li>
            <a class="btn-floating cyan" data-tooltip-direction="w" data-tooltip="Sort Tiles">
              <i class="mdi-action-view-module"></i>
            </a>
          </li>
          <li>
            <a href="/setup" class="btn-floating deep-orange lighten-1" data-tooltip-direction="w" data-tooltip="Change URL">
              <i class="mdi-action-language"></i>
            </a>
          </li>
          <li>
            <a href="/edit/new" class="btn-floating red" data-tooltip-direction="w" data-tooltip="Add Tile">
              <i class="mdi-content-create"></i>
            </a>
          </li>
        {{else}}
          {{#if currentUser.profile.public_url}}
            <li>
              <a href="/{{currentUser.profile.public_url}}" class="btn-floating red" data-tooltip-direction="w" data-tooltip="My Tiles">
                <i class="mdi-action-home"></i>
              </a>
            </li>
          {{else}}
            <li>
              <a href="/setup" class="btn-floating red" data-tooltip-direction="w" data-tooltip="Setup">
                <i class="mdi-action-language"></i>
              </a>
            </li>
          {{/if}}
        {{/if}}
      </ul>
    {{else}}
      <a data-login class="btn-floating blue z-depth-2"  data-tooltip-direction="w" data-tooltip="Login">
        <i class="mdi-communication-vpn-key"></i>
      </a>
    {{/if}}
  </div>
</template>

<template name="noResults">
  <div id="no-results" class="center">
    Sorry, no results found for <span>{{search}}</span>
    <div id="tile-container-inner"></div>
  </div>
</template>

<template name="noTiles">
  <div id="no-results" class="center">
    {{#if verify currentUser}}
      <a href="/edit/new">Why don't you make your first Tile?</a>
    {{else}}
      This user doesn't have any Tiles yet!
    {{/if}}
  </div>
</template>
