<template name="rightMenu">
  <div id="right-menu" class="ui right vertical inverted labeled icon sidebar menu">
    <ul>
      <!--  User Tools, always available  -->
      {{#if currentUser}}
        {{#if currentUser.profile.public_url}}
          <li>
            <a href="/{{currentUser.profile.public_url}}" id="brand-top-right"><i class="mdi-social-person"> {{currentUser.profile.name}}</i><i id="go-to-mypage" class="mdi-navigation-chevron-right right"></i></a>
          </li>
          {{#if verify currentUser}}
            <li>
              <a data-change-url>
                <i class="mdi-action-language left"> Change URL</i>
              </a>
            </li>
          {{/if}}
        {{else}}
          <li>
            <a href="/" id="brand-top-right"><i class="mdi-action-view-module"> TilesJS</i></a>
          </li>
        {{/if}}
        <li>
          <a data-logout><i class="mdi-action-exit-to-app left"> Sign Out</i></a>
        </li>
      {{else}}
        <li>
          <a href="/" id="brand-top-right"><i class="mdi-action-view-module"> TilesJS</i></a>
        </li>
        <li>
          <a data-login><i class="mdi-action-exit-to-app left"> Sign In</i></a>
        </li>
      {{/if}}
      <!--  End User Tools  -->

      <!-- Context Specific Tools -->
      {{ > UI.contentBlock
          context=__context__ }}
      <!-- End context specific tools -->
    </ul>
  </div>
</template>

<template name="manageTilesMenu">
  {{#rightMenu }}
    {{#if verify currentUser}}
      <li class="menu-divider"></li>
      {{#if categories}}
        {{#if tileSortable}}
          {{#unless categorySortActive}}
            {{#if tileSortActive}}
              <li>
                <a data-cancel-sort-tiles>
                  <i class="mdi-content-clear left"> Cancel Sort</i>
                </a>
              </li>
              <li>
                <a data-sort-tiles>
                  <i class="mdi-action-done left"> Done</i>
                </a>
              </li>
            {{else}}
              <li>
                <a data-sort-tiles>
                  <i class="mdi-content-sort left"> Sort Tiles</i>
                </a>
              </li>
            {{/if}}
          {{/unless}}
        {{/if}}
        {{#if categorySortable}}
          {{#unless tileSortActive}}
            {{#if categorySortActive}}
              <li>
                <a data-cancel-sort-categories>
                  <i class="mdi-content-clear left"> Cancel Sort</i>
                </a>
              </li>
              <li>
                <a data-sort-categories>
                  <i class="mdi-action-done left"> Done</i>
                </a>
              </li>
            {{else}}
              <li>
                <a data-sort-categories>
                  <i class="mdi-content-sort left"> Sort Categories</i>
                </a>
              </li>
            {{/if}}
          {{/unless}}
        {{/if}}
      {{/if}}
    {{/if}}
  {{/rightMenu}}
</template>
