@import "global-less";

/*  login styles    */
#login-container {
  max-width: 500px;
  margin: auto;
  height: 100%;
}
/*#login-modal {
  max-width: 500px;
}*/
#login-title {
  padding-bottom: 20px;
  padding-left: 40px;
  margin: 0;
  font-weight: 300;
  font-variant: small-caps;
}
#login-modal .modal-content {
  overflow-y: auto;
}
#login-form button {
  width: calc(~"100% - 15px");
  margin: 5px;
}
.modal-login-button {
  width: calc(~"50% - 10px") !important;
  float: right !important;
}
#social-login-container {
  z-index: 1001;
}
.or-divider {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: @darkGrey;
}


/*  registration styles */
#setup-instructions {
  font-size: 30px;
  margin: 0 auto;
  padding: 10%;
}
#verify-url {
  width: 100%;
  padding: 10%;
  font-size: 30px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 15px;
}
#verify-url button {
  margin: 5px;
  float: right;
  font-size: 18px;
}
#url-stub {
  color: @darkGrey;
  position: absolute;
  top: 0;
  right: calc(~"50% + 5px");
}
#verify-url > .input-field {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 0;
  margin: 0;
}
#verify-url > .input-field > input {
  font-size: 30px;
  border: none !important;
  box-shadow: none !important;
}
#verify-url > .input-field > label {
  top: 15px;
}

#register-form-container {
  max-width: 500px;
  margin: auto;
  height: 100%;
}
.turnkey-options {
  padding: 10px;
  min-width: 500px;
  position: relative;
  border: 1px solid @darkishGrey;
}
.turnkey-options > .left {
  text-align: center;
  width: calc(~"50% - 20px");
  height: calc(~"100% - 20px");
  position: absolute;
}
#register-form-container > .turnkey-options > .left {
  padding-bottom: 50px;
}
.turnkey-options > .right {
  width: 50%;
  padding-left: 10px;
  border-left: 1px solid @darkishGrey;
}
.turnkey-options > .left > #social-login-container {
  width: 100%;
}
.turnkey-options > .left button {
  display: block;
}
.turnkey-options button {
  margin: 15px auto;
}
