<template name="socialLogin">
  <div id="social-login-container">
    <button id="google-account" type="button" class="btn waves-effect waves-light red"><i class="fa fa-fw fa-google-plus-square"></i> Google</button>
    <button id="facebook-account" type="button" class="btn waves-effect waves-light blue"><i class="fa fa-fw fa-facebook-square"></i> Facebook</button>
    <!--<button id="google-account" type="button" class="btn waves-effect waves-light red"><i class="fa fa-fw fa-google-plus-square"></i> Google</button>-->
  </div>
</template>

<template name="establishURL">
  <div id="setup-instructions" class="center">
    {{#if currentUser.profile.public_url}}
      If we must, we must.
    {{else}}
      Alright, "{{currentUser.profile.name}}", if that <i>is</i> your real name.<br/>You've made it this far.  Now it's time to choose a URL:
    {{/if}}
  </div>
  <form id="verify-url">
    <span id="url-stub">http://{{hostname}}/</span>
    <div class="input-field">
      <input id="user-url" type="text"/>
      <label for="user-url">Public URL</label>
    </div>
    <button type="submit" class="btn waves-effect waves-light modal-action red"><i class="mdi-content-send right"></i>Save</button>
    {{#if currentUser.profile.public_url}}
      <a href="{{currentUser.profile.public_url}}"><button type="button" class="btn waves-effect waves-light modal-action grey">Cancel</button></a>
    {{/if}}
  </form>
</template>

<template name="register">
  <div id="register-form-container" class="centered-container">
    <p>Welcome to TilesJS!  If you must burden us with your presence I suppose you ought to make an account or something.  <a href="/">Already have an account?</a></p>
    <div class="turnkey-options">
      <div class="left valign-wrapper">
        {{> socialLogin action="register" }}
      </div>
      <div class="right">
        <form id="register-form">
          <div class="input-field">
            <i class="mdi-social-person prefix"></i>
            <input id="user-profile-name" type="text"/>
            <label for="user-profile-name">Your Name</label>
          </div>
          <div class="input-field">
            <i class="mdi-communication-email prefix"></i>
            <input id="user-email" type="email"  />
            <label for="user-email">E-mail</label>
          </div>
          <div class="input-field">
            <i class="mdi-action-lock prefix"></i>
            <input id="user-password" type="password"/>
            <label for="user-password">Password</label>
          </div>
          <div class="input-field">
            <i class="mdi-action-lock prefix"></i>
            <input id="user-password-confirm" type="password"/>
            <label for="user-password-confirm">Confirm Password</label>
          </div>
          <button id="save-tile-edit" type="submit" class="btn waves-effect waves-light modal-action red"><i class="mdi-content-send right"></i>Sign Up</button>
        </form>
      </div>
      <div style="clear: both"></div>
    </div>
  </div>
</template>

<template name="loginForm">
  <div class="turnkey-options">
    <div class="left valign-wrapper">
      {{> socialLogin action="login" }}
    </div>
    <div class="right">
      <form id="login-form">
        <div class="input-field">
          <i class="mdi-communication-email prefix"></i>
          <input id="user-email" type="email"  />
          <label for="user-email">E-mail</label>
        </div>
        <div class="input-field">
          <i class="mdi-action-lock prefix"></i>
          <input id="user-password" type="password"/>
          <label for="user-password">Password</label>
        </div>
        <button id="save-tile-edit" type="submit" class="{{#if modal}}modal-login-button{{/if}} btn waves-effect waves-light modal-action red"><i class="mdi-content-send right"></i>Sign In</button>
        {{#if modal}}
          <button id="cancel-tile-edit" type="button" class="modal-login-button btn waves-effect waves-grey modal-action modal-close grey">Cancel</button>
        {{/if}}
      </form>
    </div>
    <div style="clear: both"></div>
  </div>
</template>

<template name="loginScreen">
  <div id="login-container" class="centered-container">
    {{> loginForm }}
  </div>
</template>

<template name="loginModal">
  <div id="login-modal" class="modal">
    <div class="modal-content">
      <h4>Login</h4>
      {{> loginForm modal=true }}
    </div>
  </div>
</template>
